<app-navbar></app-navbar>
<dl class="row">
  <dt class="col-sm-3">Muhammad Herbawi</dt>
  <dd class="col-sm-9">A Developer , A gamer , An art connoisseur ..... that's how i can describe my self with s1mple words </dd>

  <dt class="col-sm-3">Jibreel natsheh</dt>
  <dd class="col-sm-9">
    <p>normal man whho has made big things ... only in his mind</p>
  </dd>

  <dt class="col-sm-3">Mohammad dabouqi</dt>
  <dd class="col-sm-9">HR Manager , coder , handsome guy</dd>


  <dt class="col-sm-3">Muhammad Herbawi</dt>
  <dd class="col-sm-9">
    <dl class="row">
      <dt class="col-sm-4">Jibreel natsheh</dt>
      <dt class="col-sm-4">Mohammad dabouqi</dt>

    </dl>
  </dd>
</dl>