<app-navbar></app-navbar>
<div class="flex-container">

    <div class="flex-child magenta">
        <div>
            <input type="text" [(ngModel)]="term" placeholder="Search..">
            <div *ngFor="let user of susers |filter:term">
                <p>
                    {{user.username}}
                </p>
            </div>


        </div>
    </div>



    <div class="flex-child green">
        <input type="text" [(ngModel)]="nemail" placeholder="E-mail">
        <select [(ngModel)]="nstatus">
            <option value="" disabled >Choose Status</option>
            <ng-container  *ngFor="let status of statuses">
                <option value="{{status}}">{{status}}</option>
            </ng-container>
        </select>
        <select [(ngModel)]="nrole">
            <option value="" disabled>Choose Role</option>
            <ng-container *ngFor="let role of roles">
                <option value="{{role}}">{{role}}</option>
            </ng-container>
        </select>
        <input type="text" [(ngModel)]="nusername" placeholder="User Name">
        <input type="text" [(ngModel)]="nid" placeholder="id">
        <input type="file" [(ngModel)]="nuserImage" placeholder="User Name">
        <button type="button" class="btn btn-dark" (click)="addNew()">add</button>

    </div>

</div>